h1{
    text-align: center;
    background-color: black;
    color:red;
    margin: 10px 400px;
}
.contenedor{
    display: flex;
    justify-content: center;
}
.cuadro1{
    background-color: red;
    height: 50px;
    width: 50px;
}
.cuadro2{
    background-color: black;
    height: 50px;
    width: 50px;
}