<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ajedrez</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    </head>
    <body>
        <h1>
            *** Checkerboard ***
        </h1>
        {%for y in range(0,8):%}
            {%if y%2 == 0:%}
                <div class="contenedor">
                    {% for x in range(0,4):%}

                        <div class="cuadro1">

                        </div>
                        <div class="cuadro2">

                        </div>
                    {%endfor%}
            {%else%}
                <div class="contenedor">
                    {% for x in range(0,4):%}

                        <div class="cuadro2">

                        </div>
                        <div class="cuadro1">

                        </div>
                    {%endfor%}
            {%endif%}
            </div>
        {%endfor%}
    </body>
</html>